<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Game</title>
    </head>

    <link rel="stylesheet" href="/css/index.css" />
    
    <body>
    </body>

    <!-- script src="/socket.io-client/dist/socket.io.js" -->
    <script src="/js/pixi-v5.3.3.js"></script>
    <script src="/js/artist.js"></script>
    <script src="/js/draw.js"></script>
    <script src="/js/index.js"></script>
</html>
